**/*.log
**/*.DS_Store
.idea
**/__pycache__/
/texas/data/PDFs/
*.ipynb
ma/results_MA/01005_CI1_040420_02_02_22.csv
ma/results_MA/trash.csv
texas/PDFs/
texas/credentials.json
credentials.json
texas/data/.plans/
texas/data/csv_zipcode/
texas/data/latest.csv
texas/data/master/062420-13-35-31.csv
texas/data/master/062420-13-36-31.csv
texas/data/master/062420-13-40-12.csv
texas/data/master/062420-13-41-31.csv
texas/data/master/062420-13-47-17.csv
texas/data/master/062420-13-52-13.csv
texas/data/master/062420-13-55-28.csv
texas/data/master/062420_12_25_02.csv
texas/data/master/062420_12_28_04.csv
texas/data/master/062420_12_39_24.csv
texas/data/master/062420_12_50_00.csv
texas/data/master/062420_12_52_13.csv
texas/data/master/062420_12_52_31.csv
texas/data/master/062420_13_02_54.csv
texas/data/master/062420_13_05_05.csv
texas/data/master/062420_13_20_28.csv
texas/data/master/062420_13_30_15.csv
texas/data/zipcode_plan_map.json
texas/efl/dataset_rows.csv
texas/efl/dataset_rows_minusage.csv
texas/logs/
